<!--views home/handlebars-->

<div class="text-center p-8">
<h1 class="text-4xl font-extrabold mb-4">¡Bienvenido a la Tienda en Línea!</h1>
<p class="text-lg text-gray-600 mb-8">últimas actualizaciones.</p>
<a href="/realTimeProducts" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-3 px-6 rounded-lg transition duration-300">
Ver Productos
</a>
</div>