<!--views/layouts/main.handlebars-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- CDN de Tailwind CSS -->
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-50 font-sans">

<!-- manu -->
<header class="bg-gray-800 text-white p-4 shadow-md">
    <div class="container mx-auto flex justify-between items-center">
        <h1 class="text-2xl font-bold">Mi Tienda</h1>
        <nav>
            <ul class="flex space-x-4">
                <li><a href="/" class="hover:text-gray-300 transition duration-300">Inicio</a></li>
                <li><a href="/products" class="hover:text-gray-300 transition duration-300">Productos</a></li>
                <li><a href="/carts" class="hover:text-gray-300 transition duration-300">Carrito</a></li>
            </ul>
        </nav>
    </div>
</header>

<!-- Body -->
<main class="container mx-auto mt-8 p-4">
    {{{body}}}
</main>

<!-- Pie de página (Footer) -->
<footer class="bg-gray-800 text-white p-4 text-center mt-8">
    <p>&copy; Mi Tienda.</p>
</footer>